@inherits RComponentBase<bool?>;

@using RWebComponents.Controls;

@inject IRObjectCollection objService;

<div class="host">
    <div id="@_id" style="width: fit-content; margin-top: 6px; margin-bottom: 6px; display: flex;cursor: pointer;"  
            @onclick="((e) => check(e))">

        @if(!DisplayTextRightAlign){
            <div style="@LabelStyle" class="label">
                @DisplayText
            </div>
        }

        <div class="checkroot">
            <span class=@(_isChecked.HasValue ? _isChecked.Value ? "check" : "" : "")>

            </span>
        </div>

        @if(DisplayTextRightAlign) {
            <div style="@LabelStyle" class="label">
                @DisplayText
            </div>
        }

    </div>
</div>