
@inherits RComponentBase<bool?>;



@inject IRObjectCollection objService;

<div class="host">
<div id="@_id" style="width: fit-content; margin-top: 6px; margin-bottom: 6px; 
                        display: flex;cursor: pointer;" 
     @onclick="((e) => check(e))">

    @if(!DisplayTextRightAlign){
        <div style="@LabelStyle" class="label">
            @DisplayText
        </div>
    }

    <div class="radioroot">
        <span style="background-color: @Color" class=@(_isChecked.HasValue ? _isChecked.Value ? "radioround" : "" : "")>

        </span>
    </div>

    @if(DisplayTextRightAlign) {
        <div style="@LabelStyle" class="label">
            @DisplayText
        </div>
    }

</div>
</div>