




.host {
    width: fit-content;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: top;
}



.data {
    font-size: small;
    display: flex;
    flex-direction: row;    
    align-items: center;    
}

.dataContainer {
    float: left; 
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
}

.indicator {
    width: 5px; 
    height: 5px;
    float: left;
    margin-right: 4px;
}

.title {
    float: left;
    margin-right: 5px;
    color: black;
    padding: 5px;
    text-overflow: ellipsis;
}