@page "/"

@using System.ComponentModel.DataAnnotations;
@using WebComponents.Components.Controls.TextBox;
@using WebComponents.Components.Controls.Button;


<EditForm Model="@UserModel" FormName="fname" 
                                OnInvalidSubmit="OnInValidSubmit" 
                                OnValidSubmit="ValidSubmit"> 

    <DataAnnotationsValidator />    

<div style="padding-left: 20px;margin-top:25px;">

    <RTextbox style="{width:200px;}" 
        LabelText="Enter Username"        
        PlaceholderText="Username"   

        ValueExpression="()=> UserModel.textValue"
        @bind-TextboxValue="UserModel.textValue">
    </RTextbox>

    <ValidationMessage style="color: blueviolet;" For="(()=> UserModel.textValue)"/> 

    <br />

    <RTextbox style="{width:200px;}" 
        LabelText="Enter Password"        
        PlaceholderText="Password" 
        IsPasswordBox=true         

        ValueExpression="()=> UserModel.pass"
        @bind-TextboxValue="UserModel.pass">
    </RTextbox>

    <ValidationMessage style="color:blueviolet" For="(()=> UserModel.pass)"/> 

    <br />
    
    <RButton ButtonType="submit">
        <Content>Submit</Content>
    </RButton>

    <RButton BackgroundColor="orange" ButtonType="button" ButtonClick="(e) => ClearForm(e)">
        <Content>Clear</Content>
    </RButton>

    </div>

 </EditForm> 

<br/>
UserName : @UserModel.textValue <br />
Password : @UserModel.pass

<br />





@code {

    private EditContext? context;

    public UserInfo UserModel { get; set; } = new UserInfo();

    protected override void OnInitialized() {
       this.context = new (UserModel);
    }

    private void ClearForm(RButtonEventArgs e)
    {
        this.UserModel.textValue = "";
        this.UserModel.pass = "";
    }

    private void SubmitForm(EditContext context)
    {

    }

    private void OnInValidSubmit()
    {

    }

    private void ValidSubmit()
    {
        
    }

    public void focusIn(FocusEventArgs e)
    {

    }

    public void focusOut(FocusEventArgs e)
    {

    }

}    

@code {

    public class UserInfo
    {
        [Required(ErrorMessage = "please enter username!!!")]
        public string textValue { get; set; }

        [Required(ErrorMessage = "please enter password!!!")]
        public string pass { get; set; }

    }
}