@page "/"

@using System.ComponentModel.DataAnnotations;
@using WebComponents.Components.Controls.TextBox;
@using WebComponents.Components.Controls.Button;
@using WebComponents.Components.Controls.Switch;

<EditForm Model="@ProfileInfo" FormName="fname" 
                                OnInvalidSubmit="OnInValidSubmit" 
                                OnValidSubmit="ValidSubmit"> 

    <DataAnnotationsValidator />    

<div style="padding-left: 20px;margin-top:25px;">

    <RTextbox style="{width:200px;}" 
        LabelText="Enter Username"        
        PlaceholderText="Username"   

        ValueExpression="()=> ProfileInfo.User.textValue"        
        @bind-value="ProfileInfo.User.textValue">
    </RTextbox>

    <ValidationMessage style="color: blueviolet;" For="(()=> ProfileInfo.User.textValue)"/> 

    <br />

    <RTextbox style="{width:200px;}" 
        LabelText="Enter Password"        
        PlaceholderText="Password" 
        IsPasswordBox=true         

        ValueExpression="()=> ProfileInfo.User.pass"
        @bind-value="ProfileInfo.User.pass">
    </RTextbox>

    <ValidationMessage style="color:blueviolet" For="(()=> ProfileInfo.User.pass)"/> 

    <br />

    <RSwitch ValueExpression="()=> ProfileInfo.IsTenthPass" DisplayLabel="Is Tenth Pass" 
        @bind-value="@ProfileInfo.IsTenthPass"></RSwitch>
    
    <RSwitch ValueExpression="()=> ProfileInfo.IsTenthPass" SwitchBackColor="pink" DisplayLabel="Is Graduate" 
        @bind-value="@ProfileInfo.IsTenthPass"></RSwitch>
        
    <ValidationMessage style="color:blueviolet" For="(()=> ProfileInfo.IsTenthPass)" />
    
    <br/>
    <RButton ButtonType="submit">
        <Content>Submit</Content>
    </RButton>

    <RButton BackgroundColor="orange" ButtonType="RButtonType.Button" ButtonClick="(e) => ClearForm(e)">
        <Content>Clear</Content>
    </RButton>

    </div>

 </EditForm> 
    
<br/>
UserName : @ProfileInfo?.User?.textValue <br />
Password : @ProfileInfo?.User?.pass <br />
Tenth Pass: @ProfileInfo?.IsTenthPass

<br />





@code {

    private EditContext? context;    

    public Profile ProfileInfo {get; set; } = new Profile();

    protected override void OnInitialized() {
       this.context = new (ProfileInfo);
    }

    private void ClearForm(RButtonEventArgs e)
    {
        this.ProfileInfo.User.textValue = "";
        this.ProfileInfo.User.pass = "";
        this.ProfileInfo.IsTenthPass = null;
    }

    private void SubmitForm(EditContext context)
    {

    }

    private void OnInValidSubmit()
    {

    }

    private void ValidSubmit()
    {
        
    }

    public void focusIn(FocusEventArgs e)
    {

    }

    public void focusOut(FocusEventArgs e)
    {

    }

}    

@code {

    public class UserInfo
    {
        [Required(ErrorMessage = "please enter username!!!")]
        public string textValue { get; set; }

        [Required(ErrorMessage = "please enter password!!!")]
        public string pass { get; set; }        

    }

    public class Profile 
    {
        [Required(ErrorMessage ="Please enter Tenth pass or not")]
        public bool? IsTenthPass {get; set;}

        public UserInfo User {get; set; } = new UserInfo();
    }
}