

.host {
    display: inline-block;
    vertical-align: top;
}



.btn{   
    cursor: pointer;    
    opacity: 1;
}

.btn:hover {
    opacity: 0.6;
}

::-webkit-scrollbar {
    width: 0.4em;;
    height: 0.4em;;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #bdbbbb;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    border-radius: 10px;
  } 
